<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 px-0">

            <div class="breadcrumb">

                <div class="breadcrumb-top">
                    <a class="breadcrumb-link">Home / </a>  <a class="breadcrumb-link">Dashboard</a>
                </div>

                <div class="breadcrumb-bottom">

                    <p class="breadcrumb-title">User List</p>

                    <div (click)="openAddNewUserModal()">
                        <button class="breadcrumb-btn">+ New User</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="user-content">

                <div class="user-container">

                    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

                    <ul *ngIf="!isLoading" class="user-list">
                        <li *ngFor="let user of users" class="user-item">
                            <div class="user-list-left">
                                <p class="user-name">{{user.name}}</p>
                            </div>

                            <div class="user-list-left">
                                <p class="user-name">{{user.email}}</p>
                            </div>



                            <div class="user-list-left">
                                <p class="user-name">{{user?.address?.street ? user.address.street :  '-'}}</p>
                            </div>


                            <div class="user-list-left">
                                <p class="user-name">{{user?.phone ? user.phone : '-'}}</p>
                            </div>

                            <div class="user-list-left">
                                <p class="user-name">{{user?.company?.name ? user.company.name : '-'}}</p>
                            </div>


                            <div class="user-list-right">

                                <div class="user-list-right-edits">

                                    <div (click)="openUserModal(user)" class="user-icon">
                                        <img src="assets/images/user-list/icons8-edit.png" alt="edit">
                                    </div>

                                    <div (click)="onDeleteUser(user)" class="user-icon">
                                        <img src="assets/images/user-list/icons8-delete.png" alt="edit">
                                    </div>

                                </div>

                                <div>
                                    <img src="assets/images/user-list/icons8-right_4.png" alt="edit">
                                </div>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
