<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 px-0">

            <div class="breadcrumb">

                <div class="breadcrumb-top">
                    <a class="breadcrumb-link">Home / </a>  <a class="breadcrumb-link">Dashboard</a>
                </div>

                <div class="breadcrumb-bottom">

                    <p class="breadcrumb-title">User List</p>

                    <div>
                        <button class="breadcrumb-btn">+ New User</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="user-content">

                <div class="user-container">

                    <div class="user-top">
                        <p>User</p>
                        <p>Actions</p>
                    </div>

                    <ul class="user-list">
                        <li class="user-item">
                            <div class="user-list-left">
                                <p class="user-name">name</p>
                            </div>

                            <div class="user-list-left">
                                <p class="user-name">email</p>
                            </div>



                            <div class="user-list-left">
                                <p class="user-name">address</p>
                            </div>


                            <div class="user-list-left">
                                <p class="user-name">phone</p>
                            </div>

                            <div class="user-list-left">
                                <p class="user-name">company</p>
                            </div>


                            <div class="user-list-right">

                                <div class="user-list-right-edits">

                                    <div class="user-icon">
                                        <img src="assets/images/user-list/icons8-edit.png" alt="edit">
                                    </div>

                                    <div class="user-icon">
                                        <img src="assets/images/user-list/icons8-delete.png" alt="edit">
                                    </div>

                                </div>

                                <div>
                                    <img src="assets/images/user-list/icons8-right_4.png" alt="edit">
                                </div>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
