<nav class="navbar">
    <div>
        <img class="navbar-logo" src="assets/images/header/Logo@3x.png" alt="logo">
    </div>

    <div>
        <ul class="navbar-list">
            <li><a routerLink="./admin">HOME</a></li>
            <li *ngIf="user?.role === RolesEnum?.ADMIN && user?.originalRole === RolesEnum?.ADMIN"
                (click)="changeViewRole(RolesEnum.USER)">
                <a routerLink="./admin">View as user</a>
            </li>

            <li *ngIf="user?.role === RolesEnum?.USER && user?.originalRole === RolesEnum?.ADMIN"
                (click)="changeViewRole(RolesEnum.ADMIN)">
                <a routerLink="./admin">Return as admin</a>
            </li>

            <li *ngIf="!user">
                <a routerLink="./login" class="login-btn">LOGIN</a>
            </li>

            <li *ngIf="user" (click)="logout()">
                <a class="login-btn">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
