<nav class="navbar">
    <div>
        <img class="navbar-logo" src="assets/images/header/Logo@3x.png" alt="logo">
    </div>

    <div>
        <ul class="navbar-list">
            <li><a routerLink="./admin">{{'HEADER.HOME' | translate}}</a></li>
            <li *ngIf="user?.role === RolesEnum?.ADMIN && user?.originalRole === RolesEnum?.ADMIN"
                (click)="changeViewRole(RolesEnum.USER)">
                <a routerLink="./admin">{{'HEADER.VIEW_AS_USER' | translate}}</a>
            </li>

            <li *ngIf="user?.role === RolesEnum?.USER && user?.originalRole === RolesEnum?.ADMIN"
                (click)="changeViewRole(RolesEnum.ADMIN)">
                <a routerLink="./admin">{{'HEADER.RETURN_AS_ADMIN' | translate}}</a>
            </li>

            <li>
                <a *ngIf="currentLanguage === LanguageEnum.EN"
                   (click)="changeLanguage(LanguageEnum.AR)">
                    AR
                </a>

                <a *ngIf="currentLanguage === LanguageEnum.AR"
                   (click)="changeLanguage(LanguageEnum.EN)">
                    EN
                </a>
            </li>

            <li *ngIf="!user">
                <a routerLink="./login" class="login-btn">LOGIN</a>
            </li>

            <li *ngIf="user" (click)="logout()">
                <a class="login-btn">{{'HEADER.LOGOUT' | translate}}</a>
            </li>
        </ul>
    </div>
</nav>
