<nav class="navbar">
    <div>
        <img class="navbar-logo" src="assets/images/header/Logo@3x.png" alt="logo">
    </div>

    <div>
        <ul class="navbar-list">
            <li><a routerLink="./admin">HOME</a></li>
            <li><a>ABOUT</a></li>
            <li><a>CONTACT</a></li>
            <li *ngIf="!user">
                <a routerLink="./login" class="login-btn">LOGIN</a>
            </li>

            <li *ngIf="user" (click)="logout()">
                <a class="login-btn">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
