<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="login-card">

                <div class="login-left">
                    <img src="assets/images/login/login.png" alt="login">
                </div>

                <div class="login-right">

                    <div class="login-content">

                        <p class="login-title">{{"LOGIN_PAGE.WELCOME" | translate}}</p>

                        <p class="login-desc">
                            {{"LOGIN_PAGE.WELCOME_TITLE" | translate}}
                        </p>

                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

                            <div class="form-group">
                                <label for="Username">{{"LOGIN_PAGE.USERNAME" | translate}}</label>
                                <input  [ngStyle]="{'border-color': loginForm.get('userName')?.touched && loginForm.get('userName')?.hasError('required') ? 'red' : '#dee2e6'}"
                                        formControlName="userName"
                                        type="email"
                                        class="form-control"
                                        id="Username"
                                        placeholder="{{ 'LOGIN_PAGE.USERNAME' | translate }}">

                            </div>

                            <div class="form-group">
                                <label for="Password">{{"LOGIN_PAGE.PASSWORD" | translate}}</label>
                                <input
                                        [ngStyle]="{'border-color': loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required') ? 'red' : '#dee2e6'}"
                                        formControlName="password"
                                        type="password"
                                        class="form-control"
                                        id="Password"
                                        autocomplete="current-password"
                                        placeholder="********">
                            </div>

                            <div class="login-actions">

                                <p class="login-forget">{{"LOGIN_PAGE.FORGET_PASSWORD" | translate}}</p>

                                <div>
                                    <button [disabled]="isLoading" class="login-btn">{{"LOGIN_PAGE.LOGIN_BTN" | translate}}</button>
                                </div>

                            </div>



                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
