<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="login-card">

                <div class="login-left">
                    <img src="assets/images/login/login.png" alt="login">
                </div>

                <div class="login-right">

                    <div class="login-content">

                        <p class="login-title">Welcome back!</p>

                        <p class="login-desc">
                            Please login to access your Spaces Dashboard
                        </p>

                        <form>

                            <div class="form-group">
                                <label for="Username">Username</label>
                                <input type="email"
                                        class="form-control"
                                        id="Username"
                                        placeholder="Username...."
                                >

                            </div>

                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password"
                                        class="form-control"
                                        id="Password"
                                        placeholder="********">
                            </div>

                            <div class="login-actions">

                                <p class="login-forget">Forget Password?</p>

                                <div>
                                    <button class="login-btn">LOGIN</button>
                                </div>

                            </div>



                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
