<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-12">

            <div class="card mb-4">
                <div class="card-header">{{"PROFILE_PAGE.ACCOUNT_DETAILS" | translate}}</div>
                <div class="card-body">
                    <form [formGroup]="profileForm">

                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">{{"PROFILE_PAGE.USERNAME" | translate}}</label>
                            <input
                                   [ngStyle]="{'border-color': profileForm.get('username')?.touched && profileForm.get('username')?.hasError('required') ? 'red' : '#D6DBE4'}"
                                   class="form-control"
                                   formControlName="username"
                                   id="inputUsername"
                                   type="text"
                                   placeholder="{{ 'PROFILE_PAGE.USERNAME_PLACEHOLDER' | translate }}">
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">{{"PROFILE_PAGE.NAME" | translate}}</label>
                                <input
                                        [ngStyle]="{'border-color': profileForm.get('name')?.touched && profileForm.get('name')?.hasError('required') ? 'red' : '#D6DBE4'}"
                                       class="form-control"
                                       formControlName="name"
                                       id="inputFirstName"
                                       type="text"
                                        placeholder="{{ 'PROFILE_PAGE.NAME_PLACEHOLDER' | translate }}">
                            </div>

                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">{{"PROFILE_PAGE.EMAIL" | translate}}</label>
                                <input
                                        [ngStyle]="{'border-color': profileForm.get('email')?.touched && profileForm.get('email')?.hasError('required') ? 'red' : '#D6DBE4'}"
                                       class="form-control"
                                       formControlName="email"
                                       id="email"
                                       type="text"
                                       placeholder="{{ 'PROFILE_PAGE.EMAIL_PLACEHOLDER' | translate }}">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (website)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">{{"PROFILE_PAGE.WEBSITE" | translate}}</label>
                                <input
                                        [ngStyle]="{'border-color': profileForm.get('website')?.touched && profileForm.get('website')?.hasError('required') ? 'red' : '#D6DBE4'}"
                                       class="form-control"
                                       formControlName="website"
                                       id="inputOrgName"
                                       type="text"
                                       placeholder="{{ 'PROFILE_PAGE.WEBSITE_PLACEHOLDER' | translate }}">
                            </div>
                            <!-- Form Group (phone)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">{{"PROFILE_PAGE.PHONE" | translate}}</label>
                                <input
                                       [ngStyle]="{'border-color': profileForm.get('phone')?.touched && profileForm.get('phone')?.hasError('required') ? 'red' : '#D6DBE4'}"
                                       class="form-control"
                                       formControlName="phone"
                                       id="inputLocation"
                                       type="text"
                                       placeholder="{{ 'PROFILE_PAGE.PHONE_PLACEHOLDER' | translate }}">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button [disabled]="isLoadingUpdate" (click)="onUpdateUser()" class="save" type="button">
                            {{ 'PROFILE_PAGE.UPDATE' | translate}} <div *ngIf="isLoadingUpdate" class="spinner-border spinner-border-sm text-light" role="status"></div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
